<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
골프장 이름 <input type="text" id="ccname"/><br>
골프장 URL <input type="text" id="ccurl"/><br>
취소 가능 기한 <input type="text" id="cccancel"/><br>
오픈 타임 <input type="text" id="ccopen"/><br>
타입 <input type="text" id="cctype"/><br>
가능 여부 <input type="radio" name="ccrv" value=0>불가
<input type="radio" name="ccrv" value=1>가능<br>
<!--<button id="btncc" class ="btn btn-primary">등록</button>-->
<button type="button" onclick="Countryclub()" id="save1">등록</button><br><br>

골프장 이름 <select id = "ccname2" th:field="*{ccname4}" class="form-select">
  <option value="">골프장 선택</option>
  <option th:each="Co : ${ccname4}" th:value="${Co.CC_NAME}"
          th:text="${Co.CC_NAME}">A</option>
</select>
<!--<div id = "listgradeentity" th:each="Co : ${ccname4}" style="display:table-row">-->
<!--    <div class ="A" style="display:table-cell" th:text="${Co.ccname4}">A</div></div>-->

<!--<div id = "listgradeentity" th:each="Co : ${ccname4}" style="display:table-row">-->
<!--    <div class ="A" style="display:table-cell" th:text="${Co.CC_NAME}">A</div></div>-->
코스 이름 <input type="text" id="coursename"/><br>
코스 넘버 <input type="text" id="coursenum"/><br>
<button type="button" onclick="Course()" id="save2">등록</button>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/Countryclub.js"></script>
<script src="/js/Course.js"></script>
</body>
</html>