<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
골프장 이름 <input type="text" id="ccname"/><br>
골프장 URL <input type="text" id="ccurl"/><br>
취소 가능 기한 <input type="text" id="cccancel"/><br>
오픈 타임 <input type="text" id="ccopen"/><br>
타입 <input type="text" id="cctype"/><br>
가능 여부 <input type="radio" name="ccrv" value=0>불가
<input type="radio" name="ccrv" value=1>가능<br>
<!--<button id="btncc" class ="btn btn-primary">등록</button>-->
<button type="button" onclick="Countryclub()" id="save">등록</button>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/Countryclub.js"></script>
</body>
</html>