<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    아이디 <input type="text" id="uid"/><br>
    비밀번호 <input type="text" id="upw"/><br>
    이름 <input type="text" id="uname"/><br>
    연락처 <input type="text" id="uphone"/><br>
    SMS동의 <input type="radio" name="sms" value=0>비동의
    <input type="radio" name="sms" value=1>동의<br>
    <button type="button" onclick="golfjoin()" id="save">가입</button>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/js/golf_join.js"></script>
</body>
</html>